/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}
.wrapper{
  margin: 0 auto;
  width: 1000px;
}

.title{
  margin: 0 auto;
  width: 1000px:
}

.title-1{
  margin: 0 auto;
  width: 1000px:
}

.index{
  margin: 0 auto;
  width: 1000px
}

.EPA{
  width:200px
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*my code*/

.title-1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 70px;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  text-transform: inherit;
  color:
  letter-spacing: normal;
  line-height: 100px;
  text indent: none;
}

.wrapper{
  font-family: 'News Cycle', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-transform: inherit;
  color:
  letter-spacing: normal;
  line-height: 70px;
  text indent: none;

}

  .index{
    font-family: 'News Cycle', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    text-transform: inherit;
    color: ##000000
    letter-spacing: normal;
    line-height: 50px;
    text indent: none;
  }
